body{
    /* removal of browser defaults and ensure the element is 100% of what i see */
    margin: 0;
    height: 100vh;

    /* background image properties */
    background-image: url("./img/backgroundd.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

        /* i want everything to be centered inside of body element*/
        display: flex;
        justify-content: center;
        align-items: center;


}


div{
    width:  none;
    display: grid;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    transition: background-color .3s, color .3s;
    

}

.search:hover{
    background-color: white;
    color: brown;
    cursor: pointer;


}

.search-key{
    height: 50px;
}



