body{
    /* removal of browser defaults and ensure the element is 100% of what i see */
    margin: 0;
    height: 100vh;

    /* background image properties */
    background-image: url("./img/backgroundd.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}